/* NAVBAR start */

#menu {
    max-height: 100px;
}

.pure-menu a {
    color: #000000;
    font-size: 16px;
}

.custom-wrapper {
    background-color: #FFFFFF;
    -webkit-font-smoothing: antialiased;
    height: 2.1em;
    overflow: hidden;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;
}

.custom-wrapper.open {
    height: 14em;
}

.custom-menu-3 {
    text-align: right;
}

.custom-toggle {
    width: 34px;
    height: 34px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.custom-toggle .bar {
    background-color: #777;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 18px;
    right: 7px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.custom-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.custom-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media (max-width: 47.999em) {

    .custom-menu-3 {
        text-align: left;
    }

    .custom-toggle {
        display: block;
    }

}

/* MY BASE CSS */

#tab { display:inline-block; 
       margin-left: 40px; }

p {
    text-align:justify;
}

ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

h3 {
    margin-top: 0;
}

/* NAVBAR end */

/* LANDING PAGE start */

.l-box {
    padding: 16px;
}

#intro {
    padding-top: 25px;
    text-align: center;
}

#main_link {
    text-decoration: none;
}

@media (max-width: 47.999em) {
    #intro {
        padding-top: 1em;
    }
}

/* LANDING PAGE end */

/* INTRO start */

.intro {
    background-color: #FFFFFF;
}

.content_textbox_intro {
    background-color: #FFFFFF;
    text-align: left;
}

.content_textbox_intro h2 {
    background-color: #FFFFFF;
    text-align: center;
    padding-bottom: 0;
}

/* INTRO end */

/* SKILLS start */
.content_textbox_skills {
    background-color: #FFFFFF;
    text-align: left;
}

.content_textbox_skills h2 {
    background-color: #FFFFFF;
    text-align: center;
    padding-bottom: 0;
}

.content_textbox_skills h3 {
    text-align: center;
}

@media (min-width: 47.999em) {
    .content_textbox_skills h3 {
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

@media (max-width: 768px) {
    .content_textbox_skills h3 {
        text-align: left;
    }
}

/* FOOTER start */

footer {
    padding: 20px 0 20px 0;
}

#signature {
    text-align: center;
}