/* NAVBAR start */

#menu {
    max-height: 140px;
}

.pure-menu a {
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 10px;
}

.pure-menu a:active {
    background-color: #E74E4E;
    color: #000000
}

.pure-menu-item a:hover {
    background-color: #E74E4E;
}

.custom-wrapper {
    background-color: #2273AA;
    -webkit-font-smoothing: antialiased;
    height: 2em;
    overflow: hidden;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;
}

.custom-wrapper.open {
    height: 14em;
}

.custom-menu-3 {
    text-align: right;
}

.custom-toggle {
    width: 34px;
    height: 34px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.custom-toggle .bar {
    background-color: #FFFFFF;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 18px;
    right: 7px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.custom-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.custom-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media (max-width: 47.999em) {

    .custom-menu-3 {
        text-align: left;
    }

    .custom-toggle {
        display: block;
    }

}

/* BASE CSS */

h1 {
    font-family: 'Josefin Sans', sans-serif;
}

h2 {
    letter-spacing: 3px;
    font-family: 'Josefin Sans', sans-serif;
}

h3 {
    margin-top: 0;
    letter-spacing: 2px;
    font-family: 'Josefin Sans', sans-serif;
}

h4 {
    font-family: 'Josefin Sans', sans-serif;
}

p {
    text-align:justify;
    font-family: 'Raleway', sans-serif;
}

ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.current {
    background-color: gray;
}

/* NAVBAR end */

/* LANDING PAGE start */

.l-box {
    padding: 16px;
}

#main_link {
    text-decoration: none;
    text-align: center;
}

@media (max-width: 47.999em) {
    #intro {
        padding-top: 1em;
    }
}

/* LANDING PAGE end */

/* INTRO start */

#intro h1 {
    text-align: center;
    letter-spacing: 3px;
}

#intro p {
    background-color: #FFFFFF;
    text-align: right;
}

.content_textbox_intro {
    background-color: #FFFFFF;
    text-align: left;
}

.content_textbox_intro h2 {
    background-color: #FFFFFF;
    text-align: center;
    padding-bottom: 0;
}

/* INTRO end */

/* SKILLS start */
.content_textbox_skills {
    background-color: #FFFFFF;
    text-align: left;
}

.content_textbox_skills h2 {
    background-color: #FFFFFF;
    text-align: center;
    padding-bottom: 0;
}

.content_textbox_skills h3 {
    text-align: center;
}

.spacing_skills {
    padding-top: 50px;
}

@media (min-width: 47.999em) {
    .content_textbox_skills h3 {
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

@media (max-width: 768px) {
    .content_textbox_skills h3 {
        text-align: left;
    }
}

#education {
    background-color: #57CBFF;
    color: #FFFFFF;
    max-height: 280px;
}

#exhibits {
    background-color: #2273AA;
    color: #FFFFFF;
    max-height: 280px;
}

#awards {
    background-color: #263650;
    color: #FFFFFF;
    max-height: 280px;
}

#experience {
    background-color: #E74E4E;
    color: #FFFFFF;
}

.experience-height {
    min-height: 550px;
}

.index-shadow {
    -webkit-box-shadow: inset -3px 0px 10px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    inset -3px 0px 10px 0px rgba(50, 50, 50, 0.3);
    box-shadow:         inset -3px 0px 10px 0px rgba(50, 50, 50, 0.3);
}

.index-shadow-up {
    -webkit-box-shadow: inset 0px 30px 10px -25px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    inset 0px 30px 10px -25px rgba(50, 50, 50, 0.3);
    box-shadow:         inset 0px 30px 10px -25px rgba(50, 50, 50, 0.3);
}

.index-shadow-side {
    -webkit-box-shadow: inset -28px -28px 10px -25px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    inset -28px -28px 10px -25px rgba(50, 50, 50, 0.3);
    box-shadow:         inset -28px -28px 10px -25px rgba(50, 50, 50, 0.3);
}

.index-shadow-down {
    -webkit-box-shadow: inset 0px -28px 10px -25px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    inset 0px -28px 10px -25px rgba(50, 50, 50, 0.3);
    box-shadow:         inset 0px -28px 10px -25px rgba(50, 50, 50, 0.3);
}

/* PORTFOLIO */
#port_title {
    padding-top: 0;
    margin-top: 0;
}

.port_section {
    padding: 10px 0 10px 0;
}

#bw_section {

}

.port_link {
    text-decoration: none;
}

.port_description {
    text-align: justify;
    padding: 0 20px 0 20px;
}

@media (max-width: 768px) {
    .portrait-experience {
        max-height: none;
    }   
    #education {
        max-height: none;
    }

    #exhibits {
        max-height: none;
    }

    #awards {
        max-height: none;
    }
    .experience-height {
    min-height: none;
    }
}

/* CONTACT */

.pure-form {
    padding-left: 100px;
}

/* FOOTER start */

footer {
    padding: 20px 0 20px 0;
}

#signature {
    text-align: center;
}